*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 15, 15);
}

.cards{
    display: grid;

grid-template-columns: auto auto auto;
        gap: 10px;

}

.card{
    background-color: rgb(0, 255, 204);
    margin: 10px;
    border-radius: 25px;
}